// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// HERO BANNER

.hero-banner {
  background: url('https://media.istockphoto.com/id/1497396873/fr/photo/prêt-pour-commencer-mes-vacances-à-la-plage.jpg?s=612x612&w=0&k=20&c=g8pbGW4z0UHUC1a3G8p_1cR-tF5XvIUqRcRdIJVJUPA=') no-repeat center center;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}


.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.search-container {
  width: 50%;
  margin-top: 15px;
}

.search-container .input-group {
  border-radius: 30px;
  overflow: hidden;
}

.search-container input {
  border-radius: 30px 0 0 30px;
  padding: 12px;
}

.search-container button {
  border-radius: 0 30px 30px 0;
  padding: 12px 20px;
}


.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .hero-banner {
    height: 40vh;
  }

  .search-container {
    width: 80%;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }
}

// NAVBAR
.navbar {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
}


.navbar-brand {
  font-size: 1.5rem;
}


.fa-user-circle {
  font-size: 1.8rem;
  color: #333;
}

.btn {
  padding: 8px 15px;
}

.fixed-height-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// CARDS
.fixed-image {
  height: 200px;
  object-fit: cover;
  width: 100%;
}


.card-body {
  display: flex;
  flex-direction: column;
}

.card-text {
  flex-grow: 1;
}
